* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.background {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#quote-box {
    width: 90%;
    width: 500px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.618);
}

#author {
    text-align: right;
}

p {
    font-size: 1.123rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.button-container a,
.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 1rem;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
}

button:hover,
a:hover {
    opacity: 0.8;
}